body{
    background: black;
}

#results{
    width:450px;
    height: 70px;
    background:white;
    margin-top: -80px;
    margin-left: 500px;
    position: absolute;
    color:blue;
    font-size: 20px;
}
pre{
    margin-top: -0px;
}
#container{
    width: 450px;
    margin-top: 100px;
    margin-left: 500px;
    height: 450px;
    background: white;
}
#row-1,#row-2,#row-3{
    width:450px;
    height: 150px;
    background: transparent;
    border-bottom: 4px solid black;
}
#box-1{
    width:150px;
    height: 150px;
    position: absolute;
    font-size: 150px;
    color:gray;
    border-right:4px solid black ;
}
#box-2{
    width:150px;
    height: 150px;
    position: absolute;
    margin-left: 150px;
    font-size: 150px;
    color:gray;
    border-right:4px solid black ;
}
#box-3{
    width:150px;
    height: 150px;
    position: absolute;
    margin-left: 300px;
    border-right:4px solid black ;
    font-size: 150px;
    color:gray;
}
#box-4{
    width: 150px;
    height: 150px;
    position: absolute;
    font-size: 150px;
    color:gray;
    border-right: 4px solid black;
}

#box-5{
    width:150px;
    height: 150px;
    position: absolute;
    margin-left: 150px;
    border-right:4px solid black ;
    font-size: 150px;
    color:gray;
}
#box-6{
    width:150px;
    height: 150px;
    position: absolute;
    margin-left: 300px;
    font-size: 150px;
    color:gray;
    border-right:4px solid black ;
}
#box-7{
    width: 150px;
    height: 150px;
    position: absolute;
    border-right: 4px solid black;
    font-size: 150px;
    color:gray;
}

#box-8{
    width:150px;
    font-size: 150px;
    color:gray;
    height: 150px;
    position: absolute;
    margin-left: 150px;
    border-right:4px solid black ;
}
#box-9{
    width:150px;
    height: 150px;
    font-size: 150px;
    color:gray;
    position: absolute;
    margin-left: 300px;
    border-right:4px solid black ;
}

#box-1:hover,#box-2:hover,#box-3:hover,#box-4:hover,#box-5:hover,#box-6:hover,#box-7:hover,#box-8:hover,#box-9:hover{
    background:lightgreen;
    cursor: pointer;
}

#box-1,#box-2,#box-3,#box-4,#box-5,#box-6,#box-7,#box-8,#box-9{
    text-align: center;
}
#winLos{
    width:460px;
    height:460px;
    position: absolute;
    margin-top: -465px;
    opacity: 0.5;
    display: none;
    box-shadow:  0px 0px 150px green;
    background: black;
}

#container2{
    width:460px;
    display: none;
    height: 185px;
    background: rgb(37, 185, 243);
    margin-top: -275px;
    margin-left: 500px;
}
#newGameBtn{
    width:200px;
    height: 50px;
    outline: none;
    background: black;
    color:white;
    font-size: 25px;
    border: 2px solid green;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50px;
}
#newGameBtn:hover{
    background:gray;
}
#winlossContain{
    width:460px;
    height: 90px;
    padding-top:25px ;
    background:lightblue;
    font-size: 50px;
    text-align: center;
}